.App {
  height: 100%;

  &__main-content-wrapper {
    height: calc(100% - 80px);
    //margin-top: 80px;
  }
  &__navbar__wrapper {
    position: absolute;
    width: 100%;
    top: 0;
  }
}
.ts {
  z-index: -1;
}
